* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1A1A1A;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

div {
    display: flex;
}

input {
    height: 3.5rem;
    width: 40rem;

    border: none;
    border-radius: 0.5rem;
    background: #262626;

    padding: 0.5rem 1rem;
    color: #fff;

    font-size: 1.2rem;
    font-weight: 500;
}

button {
    all: unset;

    height: 3.5rem;
    width: 5.625rem;

    background: #1E6F9F;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;
}

@media (max-width: 720px) {
    input {
        width: 18rem;
        font-size: 1rem;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5.5rem 0;
    width: 90%;
}

li {
    width: 100%;
    min-height: 4.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 160%;
    padding: 1rem;

    background-color: #262626;
    border-radius: 0.5rem;
}

li+li {
    margin-top: 0.75rem;
}

.completa {
    text-decoration: line-through;
}